.header {
    height: 40px;
    width: 90%;
    background-color: white;
    padding: 10px 20px;
    top: 0;

    display: flex;
    align-items: center;
    position: fixed;
    z-index: 3;

    &__text {
        font-weight: 400;
        letter-spacing: 0.2em;
        font-size: 25px;
        margin-left: 15px;
    }

    &__link {
        display: flex;
        align-items: center;
    }

    &__language {
        margin-left: auto;
    }

    &__img{
        width: fit-content;
        height: fit-content;
        margin-left: 40px;

        img {
            width: 40px;
            height: 40px;
            border-radius: 23px;
        }
    }
}