@import "@scss/_variables.scss";

.swiper {
    display: flex;
    justify-content: center;
    width: 390px;
    position: relative;
    margin: 35px auto 0 auto;

    &__bg {
        text-align: center;
        position: absolute;
        z-index: -1;
        width: 352px;
        max-height: 190px;

        img {
            width: 95%;
            max-height: 190px;
            max-width: 352px;
        }
    }

    &__slogan {

        display: flex;
        position: absolute;
        max-width: 120px;
        height: 67%;
        right: 38px;
        margin-bottom: 4px;
        align-items: center;

        &_text {
            color: $black;
            font-size: $fsNameCard;
            font-weight: $textFontWeight;
            background-color: $white;
            line-height: 30px;
            margin: auto 0;
        }
    }

    &__foreground {
        display: flex;
        flex-direction: row;
        align-items: end;
    }

    &__group_btn {
        display: flex;
        flex-direction: row;
        margin-bottom: 15px;
        margin-left: 74px;

        svg {
            color: $white;
            height: 28px;
        }
    }

    &__button {
        width: 51px;
        height: 51px;

        display: flex;
        align-items: center;
        justify-content: center;

        margin-right: 4px;
    }

    &__flask {
        margin-top: -30px;
    }
}