<div *ngIf="cartItems.length > 0; else emptyCart">
    <div class="cart-container">
        <div class="cart-item" *ngFor="let item of cartItems">
            <img src="/assets/default-oil.jpg" alt="{{item.product.name}}" class="product-image">
            <div class="product-info">
                <h3 class="product-title">{{item.product.name}}</h3>
                <p class="product-description">Size: {{item.product.size}}</p>
                <p class="product-description">Quantity: {{item.quantity}}</p>
                <p class="product-price">Price: {{item.product.price}} USDT</p>
            </div>
        </div>
        <button mat-raised-button color="primary" (click)="payOrders()" *ngIf="showFormInvoiceButton">
            Купить
        </button>
    </div>
</div>

<ng-template #emptyCart>
    <p>Корзина пуста.</p>
</ng-template>

<div style="margin-bottom: 10%;">
    <app-payment-button *ngIf="paymentUrl" [paymentUrl]="paymentUrl"></app-payment-button>
</div>