@import '@scss/_variables.scss';

.filters {
	width: 100%;
	position: fixed;
	z-index: 4;
	top: 60px;

	&__title {
		font-size: 22px;
		font-weight: $textFontWeight;
		color: $black;
		text-transform: uppercase;
	}

	&__btn {
		display: flex;
		flex-direction: row;
		justify-content: space-around;

		border-radius: 25px 25px 0px 0px;
		border-top: 2px solid #e1e1e1;
		border-right: 1px solid #e1e1e1;
		border-left: 1px solid #e1e1e1;
		background: #fff;

		&-close {
			color: $black;
			background-color: transparent;
		}

		&-reset {
			color: #9a9a9a;
			background-color: transparent;
		}
	}

	&__group {
		width: 100%;
		height: fit-content;
		overflow-y: scroll;
		background: #e0e0e0;
		max-height: 100vh;
	}

	&__label {
		&-count {
			display: flex;
			justify-content: space-between;
		}
	}

	&__apply {
		position: absolute;
		bottom: 135px;
		display: flex;
		justify-content: center;
		width: 100%;

		button {
			padding: 11px 0;
			max-width: 332px;
			width: 100%;

			font-size: 30px;
			font-weight: $textFontWeight;
		}
	}
}
