@import "@scss/_normalize.scss";
@import "@scss/_variables.scss";
@import "@scss/_fonts.scss";

body {
  margin: 0;
  font-family: 'Pragati Narrow',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
}

p {
  color: $black;
  font-weight: $textFontWeight;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
