<div>
  <nav>
    <div class="user-info">
      <img [src]="profileImageBase64" alt="User Avatar"
        class="user-avatar">
      <div class="user-details">
        <div class="user-name">{{user?.first_name}} {{user?.last_name}}<span class="arrow"> ></span></div>
        <div class="user-status">{{user?.id}}</div>
      </div>
    </div>
    <div>
      <button mat-raised-button (click)="router.navigate(['/basket']);" color="primary" matBadge="{{ totalQuantity$ | async }}" matBadgePosition="before" matBadgeColor="accent">
        Basket
      </button>
    </div>
  </nav>

  <router-outlet></router-outlet>
</div>