.select {
	position: relative;

	&__placeholder {
		margin: 0;
		color: #6b6b6b;
		font-size: 26px;
		font-weight: 400;
	}

	&__current {
		display: flex;
		flex-direction: row;
		align-items: center;
		width: 100%;
		justify-content: space-between;

		button {
			background-color: transparent;
			color: black;
		}

		&_value {
			font-size: 24px;
			font-weight: 700;
			margin: 0;
			margin-right: 15px;
		}
	}

	&__options {
		position: absolute;
		max-height: 80px;
		overflow-y: scroll;
		width: 100%;
		z-index: 99;
		background-color: white;
	}

	&__option {
		font-size: 24px;
		font-weight: 700;
	}
}
