nav {
  display: flex; /* Включаем Flexbox */
  justify-content: space-between; /* Распределяем пространство между элементами */
  align-items: center; /* Выравниваем элементы по центру по вертикали */
  padding: 10px; /* Добавляем немного отступов */
  height: 60px;
}

.user-info {
  display: flex;
  align-items: center; /* Выравниваем содержимое user-info по центру по вертикали */
}

.user-avatar {
  border-radius: 50%; /* Делаем аватар круглым */
  margin-right: 10px; /* Добавляем немного места между аватаром и текстом */
  width: 60px; /* Задаем фиксированный размер для аватара */
  height: 60px; /* Задаем фиксированный размер для аватара */
}

/* Ваши стили для user-name, user-status и других элементов */


.user-details {
  display: flex;
  flex-direction: column;
}

.user-name {
  font-weight: bold;
  /* Adjust text color as needed */
}

.arrow {
  display: inline;
}

.user-status {
  font-size: 0.8em;
  /* Adjust text color as needed */
}