<mat-card class="example-card">
  <mat-card-header>
    <mat-card-title class="mat-card-title">{{item.name}}</mat-card-title>
    <mat-card-subtitle class="mat-card-subtitle">{{item.brand}}</mat-card-subtitle>
  </mat-card-header>
  <img mat-card-image class="product-image" [src]="getPictureUrl(item.picture)" alt="{{item.name}}">
  <mat-card-content>
    <p>Price: {{item.price}} USDT | Size: {{item.size}}</p>
  </mat-card-content>
  <mat-card-actions>
    <button mat-button (click)="addItemToCart(item)">ADD TO CART</button>
  </mat-card-actions>
</mat-card>