@import '@scss/_variables.scss';

.order {
	padding-top: 90px;
	width: 95%;
	margin: 0 auto;
	position: relative;

	&__title {
		color: $black;
		font-size: 28px;
		font-weight: $textFontWeight;
		text-transform: uppercase;
		margin-bottom: 25px;
		text-align: center;
	}

	&__btn {
		width: 100%;

		position: absolute;
		bottom: -100px;
		left: 0;

		padding-bottom: 30px;
		&-success {
			width: 100%;
			font-size: 30px;
			padding: 11px 0;
			text-transform: uppercase;
			font-weight: $textFontWeight;
		}
	}

	&__price {
		margin-top: 26px;

		&_text {
			color: #000;
			font-size: 25px;
			margin-bottom: 10px;

			img {
				width: 20px;
				height: 20px;
			}
		}
	}

	&__select {
		border: 1px solid #000;
		background: #fff;
		padding-left: 27px;
		padding-right: 27px;
		height: 55px;

		display: flex;
		align-items: center;

		margin-bottom: 20px;

		&_options {
			left: -1px;
			top: 57px;
			background-color: #fff;
			max-height: 120px;
			border-left: 1px solid #000;
			border-right: 1px solid #000;

			div {
				border-bottom: 1px solid #000;
				padding: 10px 0 10px 10px;
			}
		}

		&_arrow {
			width: 25px;
			height: 25px;
			margin-left: auto;

			svg {
				width: 25px;
				height: 25px;
			}
		}
	}

	&__input {
		display: flex;
		flex-direction: column;
		padding-bottom: 20px;

		&_check {
			display: flex;
			align-items: start;
			flex-direction: row;
		}

		&_label {
			color: $black;
			font-size: 25px;
			font-weight: 400;
			margin-left: 10px;
		}

		input {
			margin-bottom: 20px;
			height: 53px;
			padding-left: 27px;

			font-size: 26px;
			font-weight: 400;

			border: 1px solid $black;
			background: #fff;

			&::placeholder {
				font-size: 26px;
				font-weight: 400;
			}
		}
	}
}
